

div.ang-div-top{
  background-color: rgba(91, 187, 249, 0);
  width: 0px;
  height: 10px;
  border-top: 70px solid rgba(171, 63, 63, 0);
  border-right: 1349px solid rgba(91, 187, 249, 1);
  border-bottom: 0px solid black;
  position: absolute;
  top: 670px;

  
}
div.ang-div-botton{
  background-color: rgba(151, 154, 157, 0);
  width: 0px;
  height: 10px;
  border-top: 82px solid rgba(76, 79, 81, 0);
  border-right: 1350px solid rgba(8, 104, 171, 1);
  border-bottom: 0px solid rgba(2, 3, 3, 1);
  position: absolute;
  top: 1420px;
  
}
p{
  margin: 0;
  padding: 50px;
  text-align: center;
  font-size: 950%;
  color: #fff;
}